<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manage Users</title>
</head>
<body>
<h2>Voici les {{users|length}} administrateurs présents dans la base</h2>
    <table>
        {% for usr in users %}
        <tr>
        <td>
            {{usr.email}}
        </td>
        <td>
            {{usr.first_name}}
        </td>
        <td>
            {{usr.last_name}}
        </td>  
        <td>
            {{usr.date_joined}}
        </td>   
        <td>
            {{usr.last_login}}
        </td>  
        </tr>       
        {% endfor %}
    </table>
    
<a href="/users/create/">
    <button type="button" class="btn btn-success">
        + Ajouter un utilisateur
    </button>
</a>

</body>